
// Redefinir variables de bootstrap
$primary: #4DBDEB;
$info: #81cec4;
$warning: #DFEEEE;
$secondary: #a9a9a9;

$accordion-bg: #fff;
$accordion-button-active-bg: #ceebeb;

@import "../../node_modules/bootstrap/scss/bootstrap";