
// $primary: #ffe08c;
$primary: #4DBDEB;
$info: #81cec4;
$warning: #DFEEEE;

$accordion-bg: #fff;
$accordion-button-active-bg: #ceebeb;

// Import Bootstrap and its default variables
@import "../../node_modules/bootstrap/scss/bootstrap";
// @import "~bootstrap/scss/bootstrap";